body{
    background-color: rgb(201, 132, 218);
    color: rgb(4, 19, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.botão{
    background-color: rgb(94, 120, 236);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(18, 13, 85);
    display: flexbox;
    padding: 15px;
    border-radius: 10px;
}
